body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
/*    font-family: Arial, sans-serif;*/
/*    font-weight: bold;*/
    line-height: 18px;
    font-size: 12px;
	text-align: center; 
	background: #FEFEFE url("../img/patterns/1337.png");
	width: 100%; height: 100%;
	color: #000;
    margin: 0; padding: 0;
}

#container {
	width: 1272px; height: inherit;
	margin: 0 auto;
}

header {
/*    background-color: #0E0E0E;*/
    background-color: #444444;
    overflow: hidden;
    border: 1px solid #222222;
}

    #a-logo {
        text-decoration: none;
        font-family: inherit;
        color: inherit;
        line-height: inherit;
        font-size: inherit;
    }

    #a-feedback {
        color: #f57900;
        text-decoration: none;
        font-weight: bold;

    }

    #descricao {
        float: left;
        margin: 5px 5px 5px 5px;
        color: #FFF;
    }

	#link-logout, #link-login {
		float: right;
		margin: 5px 5px 5px 5px;
		display: block;
		color: #FFF;
	}

		#link-logout a, #link-login a {	text-decoration: none; color: #DDD;	}
		#link-logout a:hover, #link-login a:hover { color: #FFF; }

	.questao {
        text-align: left;
    	margin: 5px; margin-bottom: 0px;
		border: solid 2px #FFD300;
		background: #FFE773;
		padding: 1px;
        color: #000;
	}

        .questao li {
            margin: 2px;
            list-style-type: none;
            list-style-position: inside;
        }

        .questao li label { color: #000; }

        .questao .alternativa * { display: inline; color: #000; font-color: }

        .questao .alternativa input { margin-bottom: 7px; display: inline; }

        .questao .alternativa span { display: inline; color: #000;}

        .questao .resposta_correta { background-color: #2eff00; }
        .questao .resposta_errada { background-color: #fd0000; }

    .comentarios {
        border: solid 1px #000;
        margin: 5px;
        margin-top: 0px;
    }

        .comentarios_titulo {
            background-color: #000;
            color: #FFF;
            width: inherit;
            border-bottom: solid 1px #000;
        }

        .comentarios_conteudo {
            background: rgba(140, 140, 140, 0.5);
        }

            .comentario {
                background: rgba(140, 140, 140, 0.5);
            }

                .comentario_conteudo {
                    background: #FFF;
                }

        .comentarios form label { display: block; align: left; }
        .comentarios textarea { height: 100%; }

#table-selec-qst {
    border: solid 1px #000;
    line-height: 16px;
    margin: 5px;
    width: auto;
    background-color: #EEEEEE;
}

    #table-selec-qst td, #table-selec-qst tr {
/*        border: solid 1px #6b6b6b;*/
/*        border: 1px solid #BDBDBD;*/
/*        border-top: 1px solid #FFFFFF;*/
/*        border-bottom: 1px solid #E0E0E0;*/
/*        color: #32a2e7;*/
    }

            #table-selec-qst td select, #table-selec-qst tr select {
                border: 1px solid #BDBDBD;
                width: 200px;
                height: 30px;
                margin: 5px;
            }

            #div-TAI {
                font-size: 14px;
                line-height: 30px;
/*                border: 1px solid #BDBDBD;*/
            }

            #table-selec-qst td input, #table-selec-qst tr input {
                margin-bottom: 5px;
            }

#container2 {
	width: 900px; height: inherit;
	margin: 0 auto;
}

#table-val-tcc {
    border: solid 1px #000;
    line-height: 16px;
    margin: 5px;
    width: auto;
    background-color: #EEEEEE;
}

    #table-val-tcc td {
        border: 1px solid #000;
    }

    #table-val-tcc .qst td {
        border: 1px solid #BDBDBD;
        border-top: solid 1px #000;
        border-right: solid 1px #000;
        border-left: solid 1px #000;
        text-align: left;
    }

    #table-val-tcc tr td label {
        margin: 5px;
        font-size: 14px;
        line-height: 16px;
    }

    #table-val-tcc tr td select {
        border: 1px solid #BDBDBD;
        width: 200px;
        height: 30px;
        margin: 5px;
    }

option {
    width: 50px;
}

#aviso {
    background-color: #f57900;
    line-height: 20px;
}

    #aviso td { color: #000; }

/* --- Login + Register --- */

#login,
#register {
/*	-webkit-border-radius: 5px;*/
/*	-moz-border-radius: 5px;*/
/*	border-radius: 5px;*/


/*    background: rgba(140, 140, 140, 0.5);*/
    background-color: #EEEEEE;
    border: solid 1px #000;

	text-align: center;
	overflow: visible;
	margin: 10% auto 0;
}

#login .uniForm a,
#register .uniForm a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

#login input:not([type="image"]),
#registerinput:not([type="image"]) {
    width:300px;
}

#login { width: 400px; }
#register { width: 470px; }

#login button,
#register button {
	margin-bottom: 5px;
}

#login .uniForm .ctrlHolder,
#register .uniForm .ctrlHolder {
/*	padding: 10px;*/
}

#login .uniForm .ctrlHolder label,
#login .uniForm .ctrlHolder input,
#register .uniForm .ctrlHolder label,
#register .uniForm .ctrlHolder input {
/*	display:inline;*/
} 

#login .uniForm .ctrlHolder label,
#register .uniForm .ctrlHolder label { 
	text-align: left;
	float: left;
	margin: 10px 10px 0 0;
	vertical-align: middle;
}

#login .uniForm .ctrlHolder input,
#register .uniForm .ctrlHolder input {
	float: right;
	width: 300px;
}

.Apple-style-span { color: #000; }

span { color: #000; }
